/*...................................................INVOICE CSS......................................................*/

#invoice_container{
	width: 99%;
	padding-left: .5%;
	padding-right: .5%;
}



/*...................................................SALES CSS......................................................*/

#sales_container{
	width: 99%;
	padding-left: .5%;
	padding-right: .5%;
}

/*...................................................CHART CSS......................................................*/

.chart-container{
	width: 70%;
	height: auto;
}

